# Node / dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
coverage/

# Logs
logs/
*.log

# Editor / IDE
.vscode/
.idea/

# OS junk
.DS_Store